<!doctype html>
<html class="no-js" lang="zxx" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OglasiIMI</title>
    <meta name="description" content="">
    <meta name="keywords" content="Branding, about, Identic projects, Creative Design, our perfect team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="icon" type="image/png" href="images/icons/LogoOglasiIMI.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|PT+Sans:400,400i,700,700i|Oswald:200,300,400,500,600,700|Archivo+Narrow:400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
    <link rel="stylesheet" href="css/home.css" media="screen">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="images/icons/LogoOglasiIMI.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="images/icons/LogoOglasiIMI.png" width="50px" height="45px" alt="">
                            OglasiIMI</a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="index">Početna</a></li>
                                <li><a href="listing">Kategorije</a></li>
                                <li><a href="employers">Poslodavci</a></li>
                                <li th:if="${role == 'ADMIN'}"><a href="admin_korisnici">Upravljaj korisnicima</a></li>
                                <li th:if="${role == 'ADMIN'}"><a href="admin_oglasi">Upravljaj oglasima</a></li>
                                <li th:if="${role == 'PUSER'}"><a href="objavljeni_poslovi" class="">Moji poslovi</a>
                                </li>
                                <li><a href="contact">Kontakt</a></li>
                                <li th:if="${username}">
                                    <a th:if="${role == 'USER'}" href="profil" th:text="' '+${username}"></a>
                                    <a th:if="${role == 'PUSER'}" href="profil_poslodavac"
                                       th:text="' '+${username}"></a>
                                </li>
                                <li th:unless="${username}"><a href="login"> Prijavi se</a></li>
                                <li th:if="${role == 'PUSER'}"><a href="dodaj_oglas" class="">Postavite oglas</a></li>
                                <li th:if="${username}"><a href="logout">Odjavi se</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>


    <!--? Hero Area Start-->
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height3  hero-overly hero-bg4 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap2 pt-20 text-center">
                            <h2>Korisnici</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="u-align-center u-clearfix u-palette-5-light-3 u-valign-middle u-section-6" id="carousel_2ff3">
        <div class="u-expanded-height u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div th:each="korisnik : ${korisnici}"
                     class="u-align-center-s u-container-style u-list-item u-repeater-item border border-secondary">
                    <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-top-xl u-container-layout-1">
                        <div alt="" class="u-image u-image-circle u-image-1"
                             style="background-image:url('https://thumbs.dreamstime.com/b/happy-person-portrait-smiling-woman-tanned-skin-curly-hair-happy-person-portrait-smiling-young-friendly-woman-197501184.jpg')"></div>
                        <div class="u-align-center-xs u-container-style u-group u-group-1">
                            <div class="u-container-layout u-container-layout-2">
                                <h4 class="u-custom-font u-font-oswald u-text u-text-1"
                                    th:text="${korisnik.fName + ' ' + korisnik.lName}"></h4>
                                <h5 class="u-custom-font u-text u-text-font u-text-palette-3-base u-text-2"
                                    th:text="${'Email: ' + korisnik.email}"></h5>
                                <h5 class="u-custom-font u-text u-text-font u-text-palette-3-base u-text-2"
                                    th:text="${'Telefon: ' + korisnik.telefon}"></h5>
                                <p class="u-text u-text-black-10 u-text-3" th:text="${korisnik.bio}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Want To work 02-->
    <section class="wantToWork-area">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <div class="logo">
                                <a href="/"><img src="images/icons/LogoOglasiIMI.png" width="60px" height="55px">
                                    OglasiIMI</a>
                            </div>
                            <br>
                            <p>Dobro došli na stranicu portala <a href="#">OglasiIMI</a></p>

                            <p>Portal <a href="#">OglasiIMI</a> je online berza poslova, nastao kao potreba za
                                uspostavljanjem profesionalnog poslovnog sistema koji će pomoći Srbiji da poveća stopu
                                zaposlenosti.</p>

                            <p><a href="#">OglasiIMI</a> je namenjen poslodavcima i kandidatima, kao i svima onima koji
                                imaju interesovanja za domen ljudskih resursa i praćenje uticaja koju ova oblast ima u
                                razvoju privrede i društva u celini.</p>

                            <p>Od samog početka rada portala <a href="#">OglasiIMI</a>, cilj nam je da pomognemo svojim
                                kandidatima da nađu posao, da povećamo stopu zaposlenosti, kao i da postavljamo iznova
                                standarde u oblasti ljudskih resursa. Naša vizija je da pomognemo i olakšamo
                                poslodavcima potragu za kvalitetnim i pravim kadrom, koji će doprineti rastu i razvoju
                                kompanije.</p>

                            <p>Teoriju ćemo ostaviti drugima, a Vama ćemo pomoći da na praktičan način dođete do
                                ostvarenja svog cilja - bilo da ste poslodavac ili budući zaposleni.</p>

                            <p>Biće nam zadovoljstvo da budemo deo i Vašeg poslovnog uspeha. </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="footer-social f-right sm-left">
                            <br>
                            <h2>Kontakt</h2>
                            <br>
                            <p><i class="material-icons"
                                  style="color:#1f3654;position:relative;top:7px;">local_phone</i> +381 (0) 61 11 22 333
                            </p>
                            <p><i class="material-icons"
                                  style="color:#1f3654;position:relative;top:7px;">local_phone</i> +381 (0) 65 11 22 333
                            </p>
                            <p style="color:#000033"><i class="material-icons"
                                                        style="color:#1f3654;position:relative;top:7px;">email</i> <a
                                    href="#" style="color:#000033"> OglasiIMI@pmf.kg.ac.rs</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Want To work 01-->
    <section class="wantToWork-area">
        <div class="container" style="padding-bottom:0px ">
            <div class="wants-wrapper">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-xl-7 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2 ">
                            <div class="main-menu2">
                                <nav>
                                    <ul>
                                        <li><a href="/">Početna</a></li>
                                        <li><a href="listing">Kategorije</a></li>
                                        <li><a href="employers">Poslodavci</a></li>
                                        <li><a href="contact">Kontakt</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
</main>
<footer>
    <div class="footer-wrapper" style="padding-top:0px">
        <!-- footer-bottom -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-center text-center align-items-center">
                        <div class="col-xl-10 col-lg-9 ">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script>
                                    | <a href="#">OglasiIMI</a> | All rights reserved.
                                    <!-- <a href="#"target="_blank">OglasiIMI</a>-->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- JS here -->

<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/animated.headline.js"></script>
<script src="assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="assets/js/contact.js"></script>
<script src="assets/js/jquery.form.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/mail-script.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>


</body>
</html>