<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OglasiIMI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="icon" type="image/png" href="images/icons/LogoOglasiIMI.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="images/icons/LogoOglasiIMI.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index"><img src="images/icons/LogoOglasiIMI.png" width="50px" height="45px" alt=""> OglasiIMI</a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index">Početna</a></li>
                                    <li><a href="listing">Kategorije</a></li>
                                    <li><a href="employers">Poslodavci</a></li>
                                    <li><a href="contact">Kontakt</a></li>
                                    <li th:if="${role == 'PUSER'}"><a href="objavljeni_poslovi" class="">Moji poslovi</a></li>
                                    <li th:if="${username}"><a href="profil" th:text="' '+${username}"></a></li>
                                    <li th:unless="${username}"><a href="login"> Prijavi se</a></li>
                                    <li th:if="${role == 'PUSER' && username}"><a href="dodaj_oglas" class="">Postavite oglas</a></li>
                                    <li th:if="${username}"><a href="logout">Odjavi se</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
    <!--? Hero Area Start-->
    <div class="slider-area hero-bg2 hero-overly">
        <div class="single-slider hero-overly  slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <!-- Hero Caption -->
                        <div class="hero__caption hero__caption2 pt-100">
                            <h1>Pretraga poslova</h1>
                            <p>Pronađite posao koji vas zanima korišćenjem filtera.</p>
                        </div>
                        <!--Hero form -->
                        <form action="/listing" methog="GET" id="pretraga" class="search-box mb-40">
                            <div class="input-form">
                                <input type="text" name="search" placeholder="Pozicija, poslodavac ili ključna reč...">
                            </div>
                            <div class="select-form">
                                <select id="select1" name="grad">
                                    <option value="" selected hidden disabled>Lokacija</option>
                                    <option value="Beograd">Beograd</option>
                                    <option value="Novi Sad">Novi Sad</option>
                                    <option value="Kragujevac">Kragujevac</option>
                                    <option value="Nis">Niš</option>
                                    <option value="Subotica">Subotica</option>
                                    <option value="Pozerevac">Požarevac</option>
                                    <option value="Kraljevo">Kraljevo</option>
                                    <option value="Krusevac">Kruševac</option>
                                    <option value="Jagodina">Jagodina</option>
                                </select>
                            </div>
                            <div class="select-form">
                                <select id="select2" th:name="oblast">
                                    <option value="" selected hidden disabled>Oblast rada</option>
                                    <option value="IT">IT</option>
                                    <option value="Trgovina">Trgovina, prodaja</option>
                                    <option value="Masinstvo">Mašinstvo</option>
                                    <option value="Administracija">Administracija</option>
                                    <option value="Bankarstvo">Bankarstvo</option>
                                </select>
                            </div>
                            <div class="search-form">
                                <a href="#" onclick="document.getElementById('pretraga').submit()"><i class="ti-search"></i>PRETRAŽI</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- listing Area Start -->
  <div class="listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!--? Left content -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                            <h4>Napredna pretraga</h4>
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing start -->
                <div class="category-listing mb-50">
                    <!-- single one -->
                    <div class="single-listing">
                        <!-- Select City items start -->
<!--                        <div class="select-job-items2">-->
<!--                            <select name="select3">-->
<!--                                <option value="">Grad</option>-->
<!--                                <option value="">Kragujevac</option>-->
<!--                                <option value="">Novi Sad</option>-->
<!--                                <option value="">Beograd</option>-->
<!--                                <option value="">Niš</option>-->
<!--                                <option value="">Kraljevo</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <!--  Select City items End-->
                        <!-- Select State items start -->
                        <div class="select-job-items2">
                            <select name="select4">
                                <option value="">Oblast rada</option>
                                <option value="">IT</option>
                                <option value="">Trgovina, prodaja</option>
                                <option value="">Mašinstvo</option>
                                <option value="">Administracija</option>
                                <option value="">Bankarstvo</option>
                            </select>
                        </div>
                        <!--  Select State items End-->
                        <!-- Select km items start -->
<!--                        <div class="select-job-items2">-->
<!--                            <select name="select5">-->
<!--                                <option value="">Poslodavac (neka bude polje za pretragu)</option>-->
<!--                                <option value="">-->
<!--&lt;!&ndash;                                    <div class="search-box mb-100 input-form">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="text" placeholder="What are you finding?">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" placeholder="Unesite naziv grada"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <!--  Select km items End-->
                        <!-- Select km items start -->
                        <div class="select-job-items2">
                            <select name="select6">
                                <option value="">Nivo obrazovanja (Stručna sprema)</option>
                                <option value="">Osnovna škola</option>
                                <option value="">Srednja škola</option>
                                <option value="">Visoka škola / Viša</option>
                                <option value="">Master / Fakultet</option>
                                <option value="">Magistratura / Specijalizacija</option>
                                <option value="">Doktorske studije / PhD</option>
                            </select>
                        </div>

                        <!--  Select km items End-->
                        <!-- Select km items start -->
                        <div class="select-job-items2">
                            <select name="select7">
                                <option value="">Radno iskustvo</option>
                                <option value="">Bez ograničenja iskustva</option>
                                <option value="">Bez iskustva</option>
                                <option value="">Manje od jedne (1) godine</option>
                                <option value="">Više od jedne (1) godine</option>
                                <option value="">Više od dve (2) godine</option>
                                <option value="">Više od tri (3) godine</option>
                                <option value="">Više od pet (5) godina</option>
                                <option value="">Više od deset (10) godina</option>
                                <option value="">Više od šest (6) meseci</option>
                            </select>
                        </div>
                        <div class="select-job-items2">
                            <select name="select9">
                                <option value="">Tip zaposlenja</option>
                                <option value="">Ugovor na neodređeno vreme</option>
                                <option value="">Ugovor na određeno vreme</option>
                                <option value="">Praksa (plaćena i/ili mogućnost zaposlenja)</option>
                                <option value="">Honorarno</option>
                                <option value="">Sezonski</option>
                                <option value="">Volontiranje</option>
                            </select>
                        </div>
                        <div class="select-job-items2">
                            <select name="select8">
                                <option value="">Pol</option>
                                <option value="">Muški</option>
                                <option value="">Ženski</option>
                                <option value="">Oba</option>
                            </select>
                        </div>
                        <div class="select-job-items2">
                            <select name="select9">
                                <option value="">Radno vreme</option>
                                <option value="">Puno radno vreme</option>
                                <option value="">Nepuno radno vreme</option>
                            </select>
                        </div>
                        <div class="select-job-items2">
                            <select name="select9">
                                <option value="">Posao objavljen</option>
                                <option value="">Danas</option>
                                <option value="">U poslednja 2 dana</option>
                                <option value="">U poslednja 3 dana</option>
                                <option value="">U poslednjih 7 dana</option>
                                <option value="">U poslednjih 15 dana</option>
                                <option value="">U poslednjih 30 dana</option>
                            </select>
                        </div>
                        <div class="select-job-items2">
                            <select name="select9">
                                <option value="">Posao ističe</option>
                                <option value="">Naredna 2 dana</option>
                                <option value="">Naredna 3 dana</option>
                                <option value="">Narednih 7 dana</option>
                                <option value="">Narednih 15 dana</option>
                                <option value="">Narednih 30 dana</option>
                            </select>
                        </div>
                        <!--  Select km items End-->
                        <!-- select-Categories start -->
                        <div class="select-Categories pt-80 pb-20">
                            <div class="small-section-tittle2 mb-20">
                                <h4>Visina plate</h4>
                            </div>
                            <label class="container">20 000 - 30 000 RSD
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">30 000 - 45 000 RSD
                                <input type="checkbox" checked="checked active">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">45 000 - 60 000 RSD
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">60 000 - 85 000 RSD
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">85 000 - 110 000 RSD
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">preko 110 000 RSD
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="primeni-filtere-btn">
                            <a href="#" onclick="document.getElementById('pretraga').submit()"><i class="ti-filter justify-content-between align-items-center"></i>PRIMENI FILTERE</button></a>
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing End -->
            </div>
            <!--?  Right content -->
            <div class="col-xl-8 col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="count mb-35">
                            <span th:text="${'Pronađeno je ' + noe + ' rezultata pretrage'}"></span>
                        </div>
                    </div>
                </div>
                <!--? Popular Directory Start -->
                <div class="popular-directorya-area fix">
                        <div class="row" >
                            <div class="col-lg-6" th:each="posao : ${oglasi}">
                                <div class="properties properties2 mb-30">
                                <div class="properties__card">
                                    <div class="properties__img overlay1">
                                        <a th:href="@{/oglas/(pageid=${posao.id})}"><img th:src="${'/slike/baneri/null/' + posao.baner}" alt=""></a>
                                        <div class="icon">
                                                <img src="assets/img/gallery/categori_icon1.png" alt=""> 
                                        </div>
                                    </div>
                                <div class="properties__caption">
                                    <h3><a th:href="@{/oglas/(pageid=${posao.id})}" th:text="${posao.name}"></a></h3>
                                        <p th:text="${posao.opis}"></p>
                                </div>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <h3 th:text="${posao.mesto}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!--
                            <div class="col-lg-6">
                                <div class="properties properties2 mb-30">
                                    <div class="properties__card">
                                        <div class="properties__img overlay1">
                                            <a href="#"><img src="assets/img/gallery/properties1.png" alt=""></a>
                                            <div class="img-text">
                                                <span>$$$</span>
                                                <span>Closed</span>
                                            </div>
                                            <div class="icon">
                                                <img src="assets/img/gallery/categori_icon1.png" alt=""> 
                                            </div>
                                        </div>
                                        <div class="properties__caption">
                                            <h3><a href="#">Urban areas</a></h3>
                                            <p>Let's uncover the best places to eat, drink</p>
                                        </div>
                                        <div class="properties__footer d-flex justify-content-between align-items-center">
                                            <div class="restaurant-name">
                                                <img src="assets/img/gallery/restaurant-icon.png" alt="">
                                                <h3>Food & Restaurant</h3>
                                            </div>
                                            <div class="heart">
                                                <img src="assets/img/gallery/heart1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        -->
                </div>
                <!--? Popular Directory End -->
                <!--Pagination Start  -->
                <div class="pagination-area text-center border-bottom pb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start " id="myDIV" th:each="i : ${#numbers.sequence(1, nop)}">
                                            
                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination End  -->
            </div>
        </div>
    </div>
</div>
<!-- listing-area Area End -->



    <!--? Popular Locations Start 01-->
<!--    <div class="popular-location border-bottom section-padding40">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    &lt;!&ndash; Section Tittle &ndash;&gt;-->
<!--                    <div class="section-tittle text-center mb-80">-->
<!--                        <h2>News & Updates</h2>-->
<!--                        <p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                    <div class="single-location mb-30">-->
<!--                        <div class="location-img">-->
<!--                            <img src="assets/img/gallery/home-blog1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="location-details">-->
<!--                            <a href="#" class="location-btn">Tips</a>-->
<!--                            <ul>-->
<!--                                <li>12 March   I   by Alan</li>-->
<!--                            </ul>-->
<!--                            <p><a href="blog_details">The Best SPA Salons For Your Relaxation</a></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                    <div class="single-location mb-30">-->
<!--                        <div class="location-img">-->
<!--                            <img src="assets/img/gallery/home-blog2.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="location-details">-->
<!--                            <a href="#" class="location-btn">Tips</a>-->
<!--                            <ul>-->
<!--                                <li>12 March   I   by Alan</li>-->
<!--                            </ul>-->
<!--                            <p><a href="blog_details">The Best SPA Salons For Your Relaxation</a></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Popular Locations End -->
    <!--? Want To work 02-->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row justify-content-between">
                        <div class="col-xl-8 col-lg-8 col-md-7">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <div class="logo">
                                    <a href="index"><img src="images/icons/LogoOglasiIMI.png" width="60px" height="55px">
                                        OglasiIMI</a>
                                </div>
                                <br>
                                <p>Dobro došli na stranicu portala <a href="#">OglasiIMI</a></p>

                                <p>Portal <a href="#">OglasiIMI</a> je online berza poslova, nastao kao potreba za uspostavljanjem profesionalnog poslovnog sistema koji će pomoći Srbiji da poveća stopu zaposlenosti.</p>

                                <p><a href="#">OglasiIMI</a> je namenjen poslodavcima i kandidatima, kao i svima onima koji imaju interesovanja za domen ljudskih resursa i praćenje uticaja koju ova oblast ima u razvoju privrede i društva u celini.</p>

                                <p>Od samog početka rada portala <a href="#">OglasiIMI</a>, cilj nam je da pomognemo svojim kandidatima da nađu posao, da povećamo stopu zaposlenosti, kao i da postavljamo iznova standarde u oblasti ljudskih resursa. Naša vizija je da pomognemo i olakšamo poslodavcima potragu za kvalitetnim i pravim kadrom, koji će doprineti rastu i razvoju kompanije.</p>

                                <p>Teoriju ćemo ostaviti drugima, a Vama ćemo pomoći da na praktičan način dođete do ostvarenja svog cilja - bilo da ste poslodavac ili budući zaposleni.</p>

                                <p>Biće nam zadovoljstvo da budemo deo i Vašeg poslovnog uspeha. </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-5">
                            <div class="footer-social f-right sm-left">
                                <br>
                                <h2>Kontakt</h2>
                                <br>
                                <p><i class="material-icons" style="color:#1f3654">local_phone</i> +381 (0) 61 11 22 333</p>
                                <p><i class="material-icons" style="color:#1f3654">local_phone</i> +381 (0) 65 11 22 333</p>
                                <p style="color:#000033"><i class="material-icons" style="color:#1f3654">email</i> <a href="#" style="color:#000033">OglasiIMI@pmf.kg.ac.rs</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Want To work 01-->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2 ">
                                <div class="main-menu2">
                                    <nav>
                                        <ul>
                                            <li><a href="index">Početna</a></li>
                                            <li><a href="listing">Kategorije</a></li>
                                            <li><a href="employers">Poslodavci</a></li>
                                            <li><a href="contact">Kontakt</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
    </main>
    <footer>
        <div class="footer-wrapper pt-5">
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center justify-content-center text-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p>
                                        Copyright &copy; <script>document.write(new Date().getFullYear());</script> | <a href="#">OglasiIMI</a> | All rights reserved.<!-- <a href="#"target="_blank">OglasiIMI</a>-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>


    </body>
</html>