<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Form Name</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="naziv">Naziv radnog mesta</label>  
                    <div class="col-md-4">
                        <input id="naziv" name="naziv" type="text" placeholder="" class="form-control input-md" required="">
                    
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="mesto">Mesto</label>  
                        <div class="col-md-4">
                        <input id="mesto" name="mesto" type="text" placeholder="" class="form-control input-md" required="">
                        
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="opis">Opis</label>  
                        <div class="col-md-4">
                        <input id="opis" name="opis" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>

                </fieldset>
            </form>

        </div>
    </body>
</html>