<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/application/cache/161857018305c9ee1d92400fef3d75b46e2c7541f6.css" media="screen"  />
    <link type="text/css" rel="stylesheet" href="/application/cache/1624885721aee4292b01e72c9e22289dc47b0ee027.css" media="screen"  />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" type="text/css" href="static/css/oglas.css">-->
</head>
<body style="background: #f1f3f7"> <!-- ;-->
<div layout:fragment="content" class="back" style="background-color:white; border: 1px solid #e5e5e5; width: 1200px; margin: auto; margin-top:30px; margin-bottom:30px; padding-left: 40px; padding-right: 30px; padding-top:30px; padding-bottom:30px;">

    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

                <h4 class="mb-0"  th:text="${ime} + ' ' + ${prezime}" ></h4>
                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">O meni :</h4>
                    <p class="text-muted font-13 mb-3" th:text="${bio}">

                    </p>
                    <p class="text-muted mb-2 font-13" ><strong>Ime i prezime :</strong> <span class="ml-2" th:text="${ime} + ' ' + ${prezime}"></span></p>

                    <p class="text-muted mb-2 font-13"><strong>Broj telefona :</strong><span class="ml-2" th:text="${telefon}"></span></p>

                    <p class="text-muted mb-2 font-13"><strong>E-mail :</strong> <span class="ml-2 " th:text="${email}"></span></p>

                    <p class="text-muted mb-1 font-13"><strong>Lokacija :</strong> <span class="ml-2" th:text="${mesto}"></span></p>
                </div>
            </div>

        </div> <!-- end col-->

        <div class="col-lg-8 col-xl-8">
            <div class="card-box">
            

                <div class="tab-content">

                    <form>
                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Licni podaci</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Ime</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Unesi ime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Prezime</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Unesi prezime">
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="userbio">Biografija</label>
                                    <textarea class="form-control" id="userbio" rows="4" placeholder="Upisi nesto o sebi..."></textarea>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numberphone">Broj telefona</label>
                                    <input type="text" class="form-control" id="numberphone" placeholder="Unesi broj telefona">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location">Lokacija</label>
                                    <input type="text" class="form-control" id="location" placeholder="Unesi lokaciju">
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="useremail">E-mail</label>
                                    <input type="email" class="form-control" id="useremail" placeholder="Unesi e-mail">
                                    <span class="form-text text-muted"><small>Ako zelis da promenis svoju e-mail adresu <a href="javascript: void(0);">klikni</a> ovde.</small></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userpassword">Lozinka</label>
                                    <input type="password" class="form-control" id="userpassword" placeholder="Unesi lozinku">
                                    <span class="form-text text-muted"><small>Ako zelis da promenis svoju lozinku <a href="javascript: void(0);">klikni</a> ovde.</small></span>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Sacuvaj</button>
                        </div>
                        </form>
                </div>
            </div>

                </div> <!-- end col -->
            </div> <!-- end row-->

        </div> <!-- end container -->
    
</div>
</body>
</html>